*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans';
}
h1{
    font-weight: normal;
}
.shape{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#square:hover{
    background-color: salmon;
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: lightblue;
}
#diamond{
    margin-top: 50px;
    rotate:45deg;
    height: 150px;
    width: 150px;
    translate: 30px;
}
#diamond:hover{
    background-color: lightgreen;
}
#diamond h1{
    rotate: -45deg;
}